<% const dir=process.cwd() %>
<!DOCTYPE html>
<html lang="ko">
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-admin' ) %>

  <!-- bootstrap5 Alert -->
  <div class="alert alert-success d-none" id="alert_box">
    <strong id="alert_mention"></strong>
  </div>
  <!-- Main -->
  <div class="container-sm">
    <div class="row row-cols-1">
      <div class="col mt-3 text-center">
        <span class="d-flex justify-content-center fs-1 fw-bold">건의/질문</span>
        <div class="mt-1 mb-3 d-flex justify-content-center">
          <div class="w-25 border border-dark shadow-sm"></div>
        </div>
      </div>
      <div class="col border-bottom border-2 bg-light bg-gradient">
        <div class="d-inline-flex my-2 float-end">
          <input class="form-control me-sm-2" type="text" placeholder="제목을 입력하세요." id="searchInput">
          <button class="btn btn-secondary my-2 my-sm-0" id="search">검색</button>
        </div>
        <table class="mt-2 table table-striped table-hover text-center">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="fs-5 fw-bold">
                <input class="form-check-input" type="checkbox" value="" onclick="selectAll(this)">
              </th>
              <th scope="col" class="fs-5 fw-bold">번호</th>
              <th scope="col" class="fs-5 fw-bold">제목</th>
              <th scope="col" class="fs-5 fw-bold">작성자</th>
              <th scope="col" class="fs-5 fw-bold">작성일</th>
            </tr>
          </thead>
          <tbody>
            <% if(results===null || results.length===0){ %>
            <tr class="">
              <td colspan="5" class="fs-3 text-muted">조회된 내역이 없습니다!</td>
            </tr>
            <% } %>
            <% results.forEach(function(question) { %>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox" value="<%= question.id %>" name="check-input">
              </td>
              <td onclick="location.href='/assistant/question/detail?id=<%= question.id %>'">
                <%= question.id %>
              </td>
              <td onclick="location.href='/assistant/question/detail?id=<%= question.id %>'">
                <% if(question.secret){%>
                <i class="bi bi-lock-fill"></i>
                <% } %>
                <%= question.title %>
              </td>
              <td>
                <% if(question.state == 0){%>
                <i class="bi bi-mortarboard-fill"></i> 컴퓨터공학과 조교
                <% }else if(question.state == 1){ %>
                <i class="bi bi-person-fill"></i> <%= question.name %>
                <% }else{ %>
                  <i class="bi bi-exclamation-circle-fill"></i> <%= question.name %>
                <% } %>
              </td>
              <td onclick="location.href='/assistant/question/detail?id=<%= question.id %>'">
                <% const date = question.timestamp.split(' '); %>
                <%= date[0] %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>

        <div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-4" onclick="location.href='/assistant/question/form'">글작성</button>
            <button type="button" class="btn btn-primary" id="delete">선택 삭제</button>
          </div>
          <!--Pagination Variables-->
          <% const offset=2; let previousBtnChecker=currentPage>1; let nextBtnChecker = currentPage<maxPage; %>
          <!--Pagination-->
          <div class="d-flex justify-content-center mb-2">
            <div class="center-block">
              <ul class="pagination">
                <li class="page-item <%= previousBtnChecker?'':'disabled' %> ">
                  <a class="page-link" href="/assistant/question?page=<%= currentPage-1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>><i class="bi bi-chevron-left"></i></a>
                </li>
                <% for(i=1; i<=maxPage ; i++){ %>
                <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                <li class="page-item <%= currentPage==i?' active':''%>">
                  <a class="page-link" href="/assistant/question?page=<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } else if(i==2 || i==maxPage-1){ %>
                <li>
                  <a class="page-link">...</a>
                </li>
                <% } %>
                <% } %>
                <li class="page-item <%= nextBtnChecker?'':'disabled' %>">
                  <a class="page-link" href="/assistant/question?page=<%= currentPage+1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>><i class="bi bi-chevron-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include(dir + '/src/views/common/footer' ) %>
  <script>
    // Function For Select AllCheckBox
    function selectAll(selectAll) {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAll.checked
      })
    }

    // Search Function
    const GetSearch = () => {
      const inputTitle = document.querySelector("#searchInput").value;
      if (inputTitle) {
        return location.href = "/assistant/question?search=" + inputTitle;
      } else {
        return;
      }
    }
    const searchBtn = document.querySelector("#search");
    searchBtn.addEventListener('click', GetSearch);

    // FETCH
    const box = document.querySelector('#alert_box');
    const mention = document.querySelector('#alert_mention');

    const DeleteNotice = () => {
      const selected_length = document.getElementsByName("check-input").length;
      const array = new Array();

      for (let i = 0; i < selected_length; i++) {
        if (document.getElementsByName("check-input")[i].checked === true) {
          array.push(document.getElementsByName("check-input")[i].value)
        }
      }
      if (array.length == 0) {
        return
      }

      fetch('/assistant/question', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            data: array
          })
        })
        .then((response) => {
          if (response.ok) {
            box.classList.add('d-none');
            return response.json()
          }
          return Promise.reject(rejectResponse)
        })
        .then((data) => {
          if (data.success == true) {
            box.classList.remove('alert-danger');
            box.classList.add('alert-success');
            mention.textContent = '정상적으로 적용되었습니다.';
          } else {
            box.classList.remove('alert-success');
            box.classList.add('alert-danger');
            mention.textContent = '적용에 실패하였습니다.';
          }
          box.classList.remove('d-none');
          setTimeout(() => {
            location.reload(true);
          }, 700);
        })
        .catch((error) => {
          console.error(error);
        })
    }
    const deleteBtn = document.querySelector("#delete");
    deleteBtn.addEventListener('click', DeleteNotice);
  </script>

</body>

</html>