<% const dir=process.cwd() %>
<!DOCTYPE html>
<html lang="ko">
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-student' ) %>

  <!-- bootstrap5 Alert -->
  <div class="alert alert-success d-none" id="alert_box">
    <strong id="alert_mention"></strong>
  </div>
  <!-- Main -->
  <div class="container-sm">
    <div class="row row-cols-1">
      <div class="col mt-3 text-center">
        <span class="d-flex justify-content-center fs-2 fw-bold">공지사항</span>
        <div class="mt-1 mb-3 d-flex justify-content-center">
          <div class="w-25 border-bottom border-dark shadow-lg"></div>
        </div>
      </div>
      <div class="col border-bottom border-2 bg-light bg-gradient">
        <div class="d-inline-flex my-2 float-end">
          <input class="form-control me-sm-2" type="text" placeholder="제목을 입력하세요." id="searchInput">
          <button class="btn btn-secondary my-2 my-sm-0" id="search">검색</button>
        </div>
        <table class="mt-2 table table-striped table-hover text-center table-sm">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="fs-5 fw-bold">번호</th>
              <th scope="col" class="fs-5 fw-bold">제목</th>
              <th scope="col" class="fs-5 fw-bold">작성일</th>
            </tr>
          </thead>
          <tbody>
            <% if(results===null || results.length===0){ %>
            <tr class="">
              <td colspan="3" class="fs-3 text-muted">조회된 내역이 없습니다!</td>
            </tr>
            <% } %>
            <% results.forEach(function(notice) { %>
            <tr>
              <td onclick="location.href='/student/notice/detail?id=<%= notice.id %>'">
                <%= notice.id %>
              </td>
              <td onclick="location.href='/student/notice/detail?id=<%= notice.id %>'">
                <%= notice.title %>
              </td>
              <td onclick="location.href='/student/notice/detail?id=<%= notice.id %>'">
                <% const date = notice.timestamp.split(' '); %>
                <%= date[0] %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <div>
          <!--Pagination Variables-->
          <% const offset=2; let previousBtnChecker=currentPage>1; let nextBtnChecker = currentPage<maxPage; %>
          <!--Pagination-->
          <div class="d-flex justify-content-center mb-2">
            <div class="center-block">
              <ul class="pagination">
                <li class="page-item <%= previousBtnChecker?'':'disabled' %> ">
                  <a class="page-link" href="/student/notice?page=<%= currentPage-1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>><i class="bi bi-chevron-left"></i></a>
                </li>
                <% for(i=1; i<=maxPage ; i++){ %>
                <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                <li class="page-item <%= currentPage==i?' active':''%>">
                  <a class="page-link" href="/student/notice?page=<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } else if(i==2 || i==maxPage-1){ %>
                <li>
                  <a class="page-link">...</a>
                </li>
                <% } %>
                <% } %>
                <li class="page-item <%= nextBtnChecker?'':'disabled' %>">
                  <a class="page-link" href="/student/notice?page=<%= currentPage+1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>><i class="bi bi-chevron-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include(dir + '/src/views/common/footer' ) %>
  <script>
    // Search Function
    const GetSearch = () => {
      const inputTitle = document.querySelector("#searchInput").value;
      if (inputTitle) {
        return location.href = "/student/notice?search=" + inputTitle;
      } else {
        return;
      }
    }
    const searchBtn = document.querySelector("#search");
    searchBtn.addEventListener('click', GetSearch);

    // FETCH
    const box = document.querySelector('#alert_box');
    const mention = document.querySelector('#alert_mention');

    
  </script>

</body>

</html>