<% const dir=process.cwd() %>
<!DOCTYPE html>
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-admin' ) %>
  <div class="container-sm">
    <div class="row row-cols-1">
      <div class="col text-center mt-3">
        <span class="d-flex justify-content-center fs-1 fw-bold">학생 인증 조회</span>
      </div>
      <div class="mt-1 mb-3 d-flex justify-content-center">
        <div class="w-50 border-top border-dark shadow-sm"></div>
      </div>
      <div class="col text-center border-bottom border-2 bg-light bg-gradient">
        <strong class="me-3 fs-4 align-middle">학번 조회</strong>
        <div class="d-inline-flex mt-2">
          <input class="form-control me-sm-2" type="text" placeholder="학번을 입력하세요." id="searchInput">
          <button class="btn btn-secondary my-2 my-sm-0" id="search">검색</button>
        </div>
        <table class="table table-striped table-hover mt-2">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="fs-5 fw-bold">인증 학기</th>
              <th scope="col" class="fs-5 fw-bold">이름</th>
              <th scope="col" class="fs-5 fw-bold">학번</th>
              <th scope="col" class="fs-5 fw-bold">인증 종류</th>
              <th scope="col" class="fs-5 fw-bold">인증일</th>
            </tr>
          </thead>
          <tbody>
            <% if(data===null || data.length===0){ %>
            <tr class="table-danger">
              <td colspan="5" class="fs-3">조회된 내역이 없습니다!</td>
            </tr>
            <% } %>
            <% data.forEach(function(cert) { %>
            <tr>
              <td>
                <%= cert.schedule_year %>년도 <%= cert.schedule_semester %>학기
              </td>
              <td>
                <%= cert.name %>
              </td>
              <td>
                <%= cert.id  %>
              </td>
              <td>
                <% if(cert.category===0){ %>
                <span>졸업논문</span>
                <% } else if(cert.category===1){ %>
                <span>졸업작품</span>
                <% } else if(cert.category===2){ %>
                <span>장기현장실습</span>
                <% } else if(cert.category===3){ %>
                <span>학생창업</span>
                <% } else {%>
                <span>ERROR</span>
                <% } %>
              </td>
              <td>
                <%= cert.timestamp %>
              </td>
              <% }) %>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-start">
          <button class="btn btn-lg btn-primary ms-1" value="true" onclick="location.href='/assistant/certificate/print'">현재학기 합격자 명단 다운로드</button>
        </div>
        <!--Pagination Variables-->
        <% const offset=2; let previousBtnChecker=currentPage>1; let nextBtnChecker = currentPage<maxPage; %>
        <!--Pagination-->
        <div class="d-flex justify-content-center">
          <div class="center-block">
            <ul class="pagination">
              <li class="page-item <%= previousBtnChecker?'':'disabled' %> ">
                <a class="page-link" href="/assistant/certificate?page=<%= currentPage-1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>>&laquo;</a>
              </li>
              <% for(i=1; i<=maxPage ; i++){ %>
              <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
              <li class="page-item <%= currentPage==i?' active':''%>">
                <a class="page-link" href="/assistant/certificate?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } else if(i==2 || i==maxPage-1){ %>
              <li>
                <a class="page-link">...</a>
              </li>
              <% } %>
              <% } %>
              <li class="page-item <%= nextBtnChecker?'':'disabled' %>">
                <a class="page-link" href="/assistant/certificate?page=<%= currentPage+1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>>&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include(dir + '/src/views/common/footer') %>

  <!-- Search Function -->
  <script>
    const btn = document.querySelector("#search");

    const GetSearch = () => {
      const inputId = document.querySelector("#searchInput").value;
      if (inputId) {
        return location.href = "/assistant/certificate?search=" + inputId;
      } else {
        return;
      }
    }
    btn.addEventListener('click', GetSearch);

  </script>
</body>

</html>