<% const dir=process.cwd() %>
<!DOCTYPE html>
<%- include(dir + '/src/views/common/head' ) %>

<body>
  <%- include(dir + '/src/views/common/navbar-admin' ) %>
  <% if(success=false) { %>
  <% results[0].year='error' ; results[0].semester='error' ; results[0].start='2022/01/01' ;results[0].end='2022/01/01' ; success=false; }%>
  <div class="alert alert-success d-none" id="alert_box">
    <strong id="alert_mention"></strong>
  </div>
  <div class="container-sm">
    <div class="row row-cols-1">
      <div class="col mt-3 text-center">
        <span class="d-flex justify-content-center fs-1 fw-bold">
          <%= results[0].year %>년도 <%= results[0].semester %>학기 학생 심사결과 입력
        </span>
      </div>
      <div class="mt-1 mb-3 d-flex justify-content-center">
        <div class="w-75 border border-dark shadow-sm"></div>
      </div>
        <table class="table table-striped table-hover text-center mt-2">
          <thead>
            <tr class="table-primary">
              <th scope="col" class="fs-5 fw-bold">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="selectAll(this)">
              </th>
              <th scope="col" class="fs-5 fw-bold">학번</th>
              <th scope="col" class="fs-5 fw-bold">이름</th>
              <th scope="col" class="fs-5 fw-bold">인증 종류</th>
              <th scope="col" class="fs-5 fw-bold">처리 현황</th>
            </tr>
          </thead>
          <tbody>
            <% if(data===null || data.length===0){ %>
            <tr class="table-danger">
              <td colspan="5" class="fs-3">조회된 내역이 없습니다!</td>
            </tr>
            <% } %>
            <% data.forEach(function(paper) { %>
            <tr>
              <td>
                <input class="form-check-input" type="checkbox" name="check-input" value="<%= paper.id %>">
              </td>
              <td>
                <%= paper.id %>
              </td>
              <td>
                <%= paper.name %>
              </td>
              <td>
                <% if(paper.category===0){ %>
                <span>졸업논문</span>
                <% } else if(paper.category===1){ %>
                <span>졸업작품</span>
                <% } else if(paper.category===2){ %>
                <span>장기현장실습</span>
                <% } else if(paper.category===3){ %>
                <span>학생창업</span>
                <% } else {%>
                <span>ERROR</span>
                <% } %>
              </td>
              <td>
                <% if(paper.approval==null){ %>
                <span>-</span>
                <% } else if(paper.approval==true){ %>
                <span>합격</span>
                <% } else {%>
                <span>불합격</span>
                <% } %>
              </td>
              <% }) %>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-start">
          <button class="btn btn-lg btn-primary ms-1" value="true" id="btnPass">선택 합격</button>
          <button class="btn btn-lg btn-primary ms-3" value="false" id="btnFail">선택 불합격</button>
        </div>
        <!--Pagination Variables-->
        <% const offset=2; let previousBtnChecker=currentPage>1; let nextBtnChecker = currentPage<maxPage; %>
        <!--Pagination-->
        <div class="d-flex justify-content-center">
          <div class="center-block">
            <ul class="pagination">
              <li class="page-item <%= previousBtnChecker?'':'disabled' %> ">
                <a class="page-link" href="/assistant/result?page=<%= currentPage-1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>>&laquo;</a>
              </li>
              <% for(i=1; i<=maxPage ; i++){ %>
              <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
              <li class="page-item <%= currentPage==i?' active':''%>">
                <a class="page-link" href="/assistant/result?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <% } else if(i==2 || i==maxPage-1){ %>
              <li>
                <a class="page-link">...</a>
              </li>
              <% } %>
              <% } %>
              <li class="page-item <%= nextBtnChecker?'':'disabled' %>">
                <a class="page-link" href="/assistant/result?page=<%= currentPage+1 %>" <%= previousBtnChecker?'':'tabindex="-1"' %>>&raquo;</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
  <%- include(dir + '/src/views/common/footer' ) %>

  <script>
    // Function For Select AllCheckBox
    function selectAll(selectAll) {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAll.checked
      })
    }

    // FETCH
    const box = document.querySelector('#alert_box');
    const input = document.querySelector('#searchInput');
    const mention = document.querySelector('#alert_mention');

    const btnPass = document.querySelector("#btnPass");
    const btnFail = document.querySelector("#btnFail");

    function PutResetPass() {
      const selected_length = document.getElementsByName("check-input").length;
      const array = new Array();

      for (let i = 0; i < selected_length; i++) {
        if (document.getElementsByName("check-input")[i].checked == true) {
          array.push(document.getElementsByName("check-input")[i].value)
        }
      }
      fetch('/assistant/result', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            isPass: true,
            data: array
          })
        })
        .then((response) => {
          if (response.ok) {
            box.classList.add('d-none');
            return response.json();
          }
          return Promise.reject()
        })
        .then((data) => {
          if (data.success == true) {
            box.classList.remove('alert-danger');
            box.classList.add('alert-success');
            mention.textContent = '정상적으로 적용되었습니다.';
          } else {
            box.classList.remove('alert-success');
            box.classList.add('alert-danger');
            mention.textContent = '적용에 실패하였습니다.';
          }
          box.classList.remove('d-none');
        })
        .catch((error) => {
          console.error(error);
        })
    }

    function PutResetFail() {
      const selected_length = document.getElementsByName("check-input").length;
      const array = new Array();

      for (let i = 0; i < selected_length; i++) {
        if (document.getElementsByName("check-input")[i].checked == true) {
          array.push(document.getElementsByName("check-input")[i].value)
        }
      }
      fetch('/assistant/result', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            isPass: false,
            data: array
          })
        })
        .then((response) => {
          if (response.ok) {
            box.classList.add('d-none');
            return response.json();
          }
          return Promise.reject()
        })
        .then((data) => {
          if (data.success == true) {
            box.classList.remove('alert-danger');
            box.classList.add('alert-success');
            mention.textContent = '정상적으로 적용되었습니다.';
          } else {
            box.classList.remove('alert-success');
            box.classList.add('alert-danger');
            mention.textContent = '적용에 실패하였습니다.';
          }
          box.classList.remove('d-none');
        })
        .catch((error) => {
          console.error(error);
        })
    }

    btnPass.addEventListener('click', PutResetPass);
    btnFail.addEventListener('click', PutResetFail);
  </script>
</body>

</html>